@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #121212;
  --foreground: #e0e0e0;
  --primary: oklch(70.4% 0.195 277.366);


  .dark {
    --background: #e0e0e0;
    --foreground: #121212;
    --primary: oklch(70.4% 0.195 277.366);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

}

@layer base {
  * {
    @apply border-none outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
