@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --background: #fafafa;
  --foreground: #121212;
  --primary: oklch(54.674% 0.0296 280.61);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer base {
  * {
    @apply border-none outline-primary/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
