---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section class="grid gap-2">
		<h1 class="font-bold">Today</h1>
		<p>Working as a Software Developer at Grupo Comidas</p>
	</section>
</Layout>
