---
import { WEBSITE_TITLE } from "../constants";
import NavLink from "./NavLink.astro";
import { ModeToggle } from "./theme-selector";

const currentPath = Astro.url.pathname;

const isActive = (path: string): boolean => currentPath === path;
---

<header class="flex items-center justify-between gap-2 py-4 md:pt-32 pt-16">
  <a
    href="/"
    class="px-2 py-1 focus-visible:outline-1 focus-visible:bg-gray-100/10 rounded"
  >
    <h1 class="text-primary font-bold text-xl">{WEBSITE_TITLE}</h1>
  </a>
  <nav>
    <ul class="flex">
      <li>
        <NavLink href="/" label="Home" isActive={isActive("/")} />
      </li>
      <li>
        <NavLink href="/blog" label="Blog" isActive={isActive("/blog")} />
      </li>
    </ul>
  </nav>
  <ModeToggle client:load />
</header>
