---
import BlogPostHeader from "../components/blog-post-header.astro";
import type { PostFrontmatter } from "../interfaces/post-frontmatter";
import "../styles/global.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props as { frontmatter: PostFrontmatter };
---

<Layout>
  <BlogPostHeader {frontmatter} />
  <main
    class="[&_img]:my-6 [&_img]:rounded-md [&_img]:max-h-96 [&_img]:w-full [&_img]:aspect-video"
  >
    <slot />
  </main>
</Layout>
